@import 'styles/variables.scss';

$size: 5.5rem;

.dtm-Menu {
  position: relative;
  display: flex;
  
  
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  .menu-link:last-child {
    margin-right: 0;
  }
}
.desktop-mode .dtm-Menu {
  flex-direction: column;
}


.menu-link {
  fill: $gray-80;
  color: $blue;
  background: $white;
  transition: 300ms;
  padding: 0 1rem 0 1rem;
  height: $size;
  width: $size;
  svg {
    height: 100%;
  }
  &.contact {
    width: 7rem;
  }

  rect, g {
    transition: 300ms;
  }
}

.menu-link:hover rect {
  fill: currentColor;
}
// .menu-link:visited, .menu-link:visited:hover {
//   rect {
//     fill: red;
//   }
// }
.MenuItem:hover {
  .MenuItem-label {
    fill: $black;
  }
}

.menu-link.selected rect {
  fill: currentColor;
  x: 0;
  width: 100%;
}

.HomeLink {
  // position: absolute;
  top: -5.5rem;
  z-index: 12000;
}