@import 'styles/variables.scss';

.gutter {
  .Tile {
    margin: 0 0 2rem 0;
  }
}
[class*="gutter__"] {
  .Tile {
    margin: 0 0 1rem 0;
  }
}


.Tile {
  position: relative;
  transition: background-color 150ms ease;
  width: 100%;
  height: 100%;

  // TODO: move this code into aspect ratio object
  // &[class*="aspect-ratio"] {
  //   // padding-bottom: 100%;
  //   min-width: 10rem;
  //   .Tile-container {
  //     position: absolute;
  //   }
  // }
  .Tile-container {
    padding: 1rem;
  }
  // margin-right: 0.125rem;
  // margin-bottom: 0.125rem;
  color: $gray-100;
  background-color: $gray-10;
  &:hover {
    background-color: $gray-20;
  }
  &:last-child {
    flex-grow: 1;
  }
  .Tile-subtitle {
    font-size: 0.75em;
    font-weight: 800;
    margin-bottom: 0.75em;
  }
  .Tile-title {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1em;
  }
  .Tile-subtitle, .Tile-title {
    margin-top: 0;
  }
}

.Tile.dark {
  background-color: $gray-90;
  &:hover {
    background-color: $gray-80;
  }
  color: $white;
}

[class*="white"],
[class*="g00"] {
  .Tile {
    position: relative;
    background-color: $gray-10 !important;
    &:hover {
      background-color: $gray-20 !important;
    }
  }
}

[class*="g10"] {
  .Tile {
    position: relative;
    background-color: $white;
    &:hover {
      background-color: $gray-20;
    }
  }
}
[class*="g20"] {
  .Tile {
    position: relative;
    background-color: $white;
    &:hover {
      background-color: $gray-10;
    }
  }
}
[class*="white"],
[class*="g10"],
[class*="g20"] {
  .Tile.dark {
    background-color: $gray-80 !important;
    &:hover {
      background-color: $gray-70 !important;
    }
    color: $white;
  }
}

[class*="g90"] {
  .Tile.dark {
    background-color: $gray-80;
    &:hover {
      background-color: $gray-70;
    }
    color: $white;
  }
}

[class*="g100"] {
  .Tile.dark {
    background-color: $gray-90;
    &:hover {
      background-color: $gray-80;
    }
    color: $white;
  }
}