@import '../../styles/variables.scss';
@import 'styles/custom-media.scss';




	$header-outer-height: calc(100vh - 7.5em); // 75vh;
	$header-inner-height: 6.75rem;
	$header-height-difference: calc(
		$header-outer-height - $header-inner-height
	);


.module {
  padding: 0 $space-16 0 $space-16;
  // padding: $space-16 $space-16 0;
  // @media screen and (max-width: $layout-xs) {
  //   padding: $space-12;
  // }
  color: $gray-60;
  // padding: 1rem 1rem 0 1rem;
  //background: blue;
  display: flex;
  width: 100%;
  	/* Make it stick */
	height: $header-outer-height;
  position: -webkit-sticky;
	position: sticky;
    /* MAGIC HAPPENS HERE */
    transform: translateZ(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased; /* seems to do the same in Safari */
	top: calc(
		$header-height-difference * -1
	); /* Multiply by -1 to get a negative value */
  // position: fixed;
  // top: 0;
  z-index: 10000;
  transition: 150ms ease;
  pointer-events: none;

  .substyle {
    color: red;
  }
}
.home {
  padding: $space-16 0 0 0;
  position: -webkit-sticky;
  position: sticky;
      /* MAGIC HAPPENS HERE */
      transform: translateZ(0);
      -moz-transform: translatez(0);
      -ms-transform: translatez(0);
      -o-transform: translatez(0);
      -webkit-transform: translateZ(0);
      -webkit-font-smoothing: antialiased; /* seems to do the same in Safari */
	top: 0;
  height: $header-inner-height;
}
.container {
	/* Make it stick */
  padding: $space-16 0 0 0;
	height: $header-inner-height;
  
  position: -webkit-sticky;
  position: sticky;
      /* MAGIC HAPPENS HERE */
      transform: translateZ(0);
      -moz-transform: translatez(0);
      -ms-transform: translatez(0);
      -o-transform: translatez(0);
      -webkit-transform: translateZ(0);
      -webkit-font-smoothing: antialiased; /* seems to do the same in Safari */
	top: 100%;
  // top: calc(
	// 	$header-height-difference * -1
	// );
}

.item {
  // height: 5.75rem;
  display: flex;
  margin: { right: $space-02; bottom: $space-02 };
  pointer-events: auto;
  background-color: $white;
  transition: background-color 150ms, box-shadow 150ms;
  // box-shadow: $elev-100;
  // &:hover {
  //   background-color: $gray-20;
  // }
  &:hover {
    box-shadow: 0 0.25rem 0.5rem rgba($black, 0.125); //$elev-100;
    z-index: 1000;
  }
  a {
    padding: $space-16;
    @media screen and (max-width: $layout-xs) {
      padding: $space-12;
    }
    cursor: pointer;
  }
}

.globalModule {
  flex: 1 1 0;
}