@import 'styles/variables.scss';

.module {
  position: relative;
  padding: 1rem;
  // padding: 1rem 1rem 0 1rem;
  //background: blue;
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 10000;
  transition: 150ms ease;
}

.item {
  height: 5.75rem;
  display: flex;
  margin-right: $space-02;
  background-color: $white;
  transition: background-color 150ms;
  &:hover {
    background-color: $gray-10;
  }
  a {
    padding: 1rem;
    cursor: pointer;
  }
}