@import '../../styles/variables.scss';
@import '../../styles/custom-media.scss';

.module {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.heading {
  font-size: calc(1.25rem + 0.5vw);
}

.parapgragh {
  width: 80%;
  @media screen and (max-width: $breakpoint-medium ) {
    width: 100%;
  }
}