
$breakpoint-small: 42rem; // 672
$breakpoint-medium: 66rem; // 1056
$breakpoint-large: 82rem; // 1312
$breakpoint-xlarge: 99rem; // 1584
$breakpoint-wide: 142rem; // 2272
$breakpoint-ultra: 166rem; // 2656
$breakpoint-max: 199rem; // 3184



$layout-0:  320px;
$layout-xs: 480px;
$layout-sm: 768px;
$layout-md: 1024px;
$layout-lg: 1280px;
$layout-xl: 1920px;


$breakpoint: $layout-md;

$persona-breakpoint: 600px;

// ToDo and clean up this mess
$media-min-small: (min-width: $layout-xs);
$media-max-small: screen and (max-width: 449px);
$media-min-medium: screen and (min-width: 675px);
$media-min-large: screen and (min-width: 900px);