@import 'styles/variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// main {
//   min-height: 100vh;
//   padding: 4rem 0;
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// ToDo -> perhabs to delete when button comes here
button {
  background: none;
}

// nav {
//   margin: 0 1rem;
//   position: fixed;
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: column;
//   width: 100%;
//   @media screen and (min-width: 640px) {
//     flex-direction: row;
//   }
//   a {
//     padding: 1rem 1rem 1rem 0;
//     text-decoration: none;
//     color: coral;
//     transition: 300ms;
//     &:hover {
//       color: blue;
//     }
//     &.active {
//       color: rebeccapurple;
//     }
//   }
// }

.container {
  min-height: 10rem;
}