@import 'styles/variables.scss';
@import 'styles/custom-media.scss';

// @import 'layout/Grid/Column.scss';
@import '../layout/Grid/Row.scss';


.Main-container {
  // justify-content: center;
  // align-items: center;
  &.container--not-padded {
    padding: 0;
  }
  & > *:first-child {
    //background-color: aqua;
    padding-top: $header-space;
  }
}
.Block-container {
  padding: 2rem 0;
  margin-bottom: 2rem;
}


.container {
  
  &[class*="g10"] {
    color: $gray-100;
    background-color: $gray-10;
  }
  &[class*="g20"] {
    color: $gray-100;
    background-color: $gray-20;
  }
  &[class*="g90"] {
    color: $white;
    background-color: $gray-90;
  }
  &[class*="g100"] {
    color: $white;
    background-color: $gray-100;
  }
}

/*
  Column styles
*/


[class*="column"] {
  display: block;
  // & > *:not(:first-child) {
  //   background-color: magenta;
  //   height: 10%;
  // }
  // & > *:first-child {
  //   background-color: aqua;
  // }
  &.col-1 {
    flex: 0 0 calc(100% / 12);
    max-width: calc(100% / 12);
  }
  &.col-2 {
    flex: 0 0 calc(100% / 6);
    max-width: calc(100% / 6);
  }
  &.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  &.col-4 {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    // flex: 0 0 33.33333%;
    // max-width: 33.33333%;
  }
  &.col-5 {
    flex: 0 0 calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
  }
  &.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  &.col-7 {
    flex: 0 0 calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
  }
  &.col-8 {
    flex: 0 0 calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
    // flex: 0 0 66.66667%;
    // max-width: 66.66667%;
  }
  &.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  &.col-10 {
    flex: 0 0 calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
  }
  &.col-11 {
    flex: 0 0 calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
  }
  &.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  // large Columns
  @media screen and (max-width: $breakpoint-large ) {
    // Columns
    &.col-lg-1 {
      flex: 0 0 calc(100% / 12);
      max-width: calc(100% / 12);
    }
    &.col-lg-2 {
      flex: 0 0 calc(100% / 6);
      max-width: calc(100% / 6);
    }
    &.col-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    &.col-lg-4 {
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3);
    }
    &.col-lg-5 {
      flex: 0 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5);
    }
    &.col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    &.col-lg-7 {
      flex: 0 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7);
    }
    &.col-lg-8 {
      flex: 0 0 calc(100% / 12 * 8);
      max-width: calc(100% / 12 * 8);
    }
    &.col-lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    &.col-lg-10 {
      flex: 0 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10);
    }
    &.col-lg-11 {
      flex: 0 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11);
    }
    &.col-lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  // Medium Columns
  @media screen and (max-width: $breakpoint-medium ) {
    &.col-md-1 {
      flex: 0 0 calc(100% / 8);
      max-width: calc(100% / 8);
    }
    &.col-md-2 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    &.col-md-3 {
      flex: 0 0 calc(100% / 8 * 3);
      max-width: calc(100% / 8 * 3);
    }
    &.col-md-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    &.col-md-5 {
      flex: 0 0 calc(100% / 8 * 5);
      max-width: calc(100% / 8 * 5);
    }
    &.col-md-6 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    &.col-md-7 {
      flex: 0 0 calc(100% / 8 * 7);
      max-width: calc(100% / 8 * 7);
    }
    &.col-md-8 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media screen and (max-width: $breakpoint-small ) {

    &.col-sm-1 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    &.col-md-2 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    &.col-md-3 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    &.col-sm-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

[class*="column"].gutter {
  padding: {
    left: 1rem;
    right: 1rem;
  }
}
[class*="column"].gutter__left {
  padding: {
    left: 1rem;
    right: 0;
  }
}
[class*="column"].gutter__right {
  padding: {
    left: 0;
    right: 1rem;
  }
}
.column__empty {
  padding: 0 !important;
}


/*
  Aspect Ratio containers
*/

.aspect-ratio {
  position: relative;
  // height: 100%;
  // min-width: 10rem;


  &--1x1 {
    padding-bottom: 100%;
  }
  &--2x1 {
    padding-bottom: 50%;
  }
  &--3x2 {
    padding-bottom: 66.6%;
  }
  &--4x3 {
    padding-bottom: 75%;
  }
  &--16x9 {
    padding-bottom: 56.25%;
  }
  &--1x2 {
    padding-bottom: 200%;
  }
}
// .aspect-ratio--2x1:before {
//   padding-top: 100%;
// }
// .aspect-ratio:before {
//   content: "";
//   float: left;
//   height: 0;
//   margin-left: -1px;
//   width: 1px;
// }
.aspect-ratio--object {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}








