@import 'styles/variables.scss';

//styleName: productive/heading-07;
h1 {
  // font-family: Inter;
  margin-top: $spacer-m;
  font-size: 54px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
}
//styleName: productive/heading-06;
h2 {
  // font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
}

//styleName: productive/heading-05;
h3 {
  //font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
}
//styleName: productive/heading-04;
h4 {
  // font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}