@import 'variables.scss';
@import 'custom-media.scss';

h1, h2, h3, h4, h5, h6, p {
  // font-family: $font-stack-grotesk-05;
  font-size: calc(1em + (100vw - 800px) / 400);
  margin: 0;
  // text-transform: uppercase;
}

// h1 {
//   font-family: $font-stack-grotesk-05;
//   text-transform: uppercase;
// }


//styleName: productive/heading-07;
h1 {
  // font-family: Inter;
  margin-top: $spacer-m;
  // font-size: 54px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
}
//styleName: productive/heading-06;
h2 {
  // font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
}

//styleName: productive/heading-05;
h3 {

  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
}
//styleName: productive/heading-04;
h4 {

  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}
strong {
  font-weight: 600;
}
p {
  font-style: normal;
  font-weight: 400;
}


/* expressive styles */


[class*="ExpressiveHeading"],
[class*="Display"] {
  margin: 0 0 2rem;
  line-height: 1.3;
}

.ExpressiveHeading {
  &-01 {
    font-weight: 500;
    font-size: calc(1rem + 0.5vw);
    margin: 0 0 2rem;
  }
  &-02 {
    font-weight: 500;
    font-size: calc(1.75rem + 0.5vw);
    margin: 0 0 2rem;
  }
  &-03 {
    font-weight: 500;
    font-size: calc(2.25rem + 0.5vw);
    margin: 0 0 2rem;
  }
  &-04 {
    font-weight: 400;
    font-size: calc(2.75rem + 0.5vw);
    margin: 0 0 2rem;
  }

  &-05 {
    font-weight: 500;
    font-size: calc(3.25rem + 0.5vw);
    margin: 0 0 2rem;
  }

  &-06 {
    font-weight: 300;
    font-size: calc(3.25rem + 0.5vw);
    margin: 0 0 2rem;
  }

  
  margin: 0 0 2rem;
  line-height: 1.3;
  @media screen and (max-width: $breakpoint-xlarge) {
    // font-size: 1.75rem;

  }

  @media screen and (max-width: $breakpoint-medium ) {
    // font-size: 1.5rem;

  }
}

.Display {
  &-01 {
    font-size: calc(3.25rem + 0.5vw);
    font-weight: 300;
    line-height: 1.3;
  }
  &-02 {
    font-size: calc(3.25rem + 0.5vw);
    font-weight: 600;
    line-height: 1.3;
  }
}

[class*="ExpressiveParagraph"] {
  margin: 0 0 2rem;
  line-height: 1.3;
}


.ExpressiveParagraph {
  font-family: inherit;
  font-weight: 300;
  font-size: calc(1.5rem + 0.5vw);
  &-01 {
    font-weight: 300;
    font-size: calc(1rem + 0.5vw);
  }
  &-02 {
    font-weight: 300;
    font-size: calc(1.25rem + 0.5vw);
  }
  &-03 {
    font-weight: 300;
    font-size: calc(1.5rem + 0.5vw);
  }
  

  @media screen and (max-width: $breakpoint-xlarge) {
    // font-size: 1.75rem;

  }

  @media screen and (max-width: $breakpoint-medium ) {
    // font-size: 1.5rem;

  }

}


/* capitalized styles */

[class*="CapitalizedParagraph"],
[class*="CapitalizedHeading"] {
  text-transform: uppercase;
  margin: 0 0 2rem;
}


.CapitalizedParagraph {
  font-family: inherit;
  font-weight: 300;
  font-size: 2rem;
  font-size: calc(1.5rem + 0.5vw);
  &-01 {
    font-weight: 300;
    font-size: calc(0.875rem + 0.5vw);
  }
  &-02 {
    font-weight: 300;
    font-size: calc(1rem + 0.5vw);
  }
  &-03 {
    font-weight: 300;
    font-size: calc(1.25rem + 0.5vw);
  }
  

  @media screen and (max-width: $breakpoint-xlarge) {
    // font-size: 1.75rem;

  }

  @media screen and (max-width: $breakpoint-medium ) {
    // font-size: 1.5rem;

  }

}


.productive-heading-07 {
  font-size: 3.375rem;
  line-height: 4rem;
  font-weight: 300;
  letter-spacing: 0;
}

// @import '../media-queries.scss';

.responsive-heading-06 {
  font-weight: 300;
  font-size: 2rem;
  

  @media (min-width: 20rem) and (max-width: 65.9375rem) {
    font-size: 2.25rem;
    font-size: calc(1.55rem + 1.48vw);

  }
  @media (min-width: 66rem) and (max-width: 81.9375rem) {
    font-size: 3rem;
    font-size: calc(2.05rem + 1.48vw);

  }
  @media (min-width: 82rem) {
    font-size: 3.5rem;
  }
}


.responsive-heading-05 {
  font-weight: 300;
  font-size: 1.5rem;
  

  @media (min-width: 20rem) and (max-width: 65.9375rem) {
    font-size: 1.75rem;
    font-size: calc(1.35rem + 1.48vw);
  }
  @media (min-width: 66rem) and (max-width: 81.9375rem) {
    font-size: 2.5rem;
    font-size: calc(1.75rem + 1.48vw);
  }
  @media (min-width: 82rem) {
    font-size: 3rem;
  }
}

.responsive-heading-04 {
  font-weight: 400;
  font-size: 1.25rem;
  

  @media (min-width: 20rem) and (max-width: 65.9375rem) {
    font-size: 1.5rem;
    font-size: calc(1.05rem + 1.48vw);
  }
  @media (min-width: 66rem) and (max-width: 81.9375rem) {
    font-size: 1.75rem;
    font-size: calc(0.95rem + 1.48vw);
  }
  @media (min-width: 82rem) {
    font-size: 2rem;
  }
}