@import 'styles/variables.scss';

$logo-size: 3.75rem;

.root {
  width: $logo-size;
  height: $logo-size;
  transition: background 150ms ease-in;
  .logo-box {
    width: 100%;
    height: 100%;
  }
  svg {
    transition: fill 150ms ease-in;
  }

  // &.active {
  //   svg {
  //     fill: currentColor;
  //   }
  // }
  
  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

// @media screen and (max-width: $layout-lg) {
//   .Logo {
//     left: 1em;
//   }
// }



